<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/sernet.verinice.report.designer.product/target/products/sernet.verinice.report.designer/linux/gtk/x86_64/v.Designer/v-designer}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/sernet.verinice.report.designer.product/target/products/sernet.verinice.report.designer/linux/gtk/x86_64/v.Designer}"/>
</launchConfiguration>
