<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] (%13F:%L) %3x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<!-- The path to the logging file is set at runtime by verinice. If the 
	logging path is set here, verinice would not override it, except there is 
	defined a log path in verinice.ini -->
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1000KB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] (%13F:%L) %3x - %m%n" />
		</layout>
	</appender>

	<!-- Pax logs superfluous warning on system startup -->
	<logger name="org.ops4j.pax.web.service.internal.ConfigurationImpl">
		<level value="ERROR" />
	</logger>
	<!-- Avoid a lot of warnings (An item was expired by the cache while it
		was locked) -->
	<logger name="org.hibernate.cache.ReadWriteCache">
		<level value="ERROR" />
	</logger>
	<!-- Avoid harmless warning :
		Narrowing proxy to class - this operation breaks) -->
	<logger name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog">
		<level value="ERROR" />
	</logger>

	<!-- Logs system configuration on startup -->
	<logger name="sernet.gs.ui.rcp.main.ConfigurationLogger">
		<level value="INFO" />
	</logger>

	<!-- Logger for everything else -->
	<root>
		<priority value="WARN" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>
