/* Shared style applied to all pages */
/* trick to get desired scroll bar behavior on all browsers */ 
html {
	overflow:auto;
	border:0px;
	height:100%;
	}

	
body {	
	margin-left:14px;
	margin-top:10px;
	font-family:Trebuchet MS, sans-serif;
	font-size: 12px;
	color:#000000;
	background-image:url("./vn-bg.png");
	background-repeat: no-repeat;
	} 
	
h1 {
	text-align:left;
	font-size: 16pt;
	font-weight:normal;
	
	} 



	
	
.redlink {
	color:#be0000;
	}

	

#a-isa {
	 position:absolute; 
	 top:494px; 
	 left:780px;
	padding:0px;
	margin-top:0px;
 	margin-bottom:0px;
 display:block;
  	background-image:url(link-isa.gif);
	width:82px;
 	height:82px;
}
#a-isa:hover { background-image:url(link-isa-hover.gif); }


.link-isa-text {
	font-size: 16px;
	position:absolute;
	top:520px;
	left:880px;
	width:250px;
	}


#a-ism {
	 position:absolute; 
	 top:187px; 
	 left:757px;
	padding:0px;
	margin-top:0px;
 	margin-bottom:0px;
 display:block;
  	background-image:url(link-ism.gif);
	width:82px;
 	height:82px;
}
#a-ism:hover { background-image:url(link-ism-hover.gif); }


#a-gs {
	 position:absolute; 
	 top:474px; 
	 left:69px;
	padding:0px;
	margin-top:0px;
 	margin-bottom:0px;
 display:block;
  	background-image:url(link-gs.gif);
	width:82px;
 	height:82px;
}
#a-gs:hover { background-image:url(link-gs-hover.png); }

#a-info {
	 position:absolute; 
	 top:100px; 
	 left:0px;
	padding:0px;
	margin-top:0px;
 	margin-bottom:0px;
 display:block;
  	background-image:url(link-info.png);
	width:52px;
 	height:89px;
}

#logo {
	 position:absolute; 
	 top:0px; 
	 left:0px;
}

.link-info-text {
	font-size: 12px;
	position:absolute;
	top:100px;
	left:100px;
	width:500px;
	}
	

.link-ism-text {
	font-size: 16px;
	position:absolute;
	top:210px;
	left:862px;
	width:250px;
	}
	
.link-normal-text {
	font-size: 12px;
	}
	
	
.link-gs-text {
	font-size: 16px;
	position:absolute;
	top:500px;
	left:170px;
	width:200px;
	}


