<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
                   <param name="ConversionPattern" value="%d %-5p [%t] (%13F:%L) %3x - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

     <!-- Logger for verinice -->
    <logger name="sernet.gs" additivity="false">
  		<level value="DEBUG"/>
  		<appender-ref ref="STDOUT"/>
	</logger>
	
	<logger name="org.hibernate.cache" additivity="false">
  		<level value="INFO"/>
  		<appender-ref ref="STDOUT"/>
	</logger>
	
	<logger name="org.hibernate" additivity="false">
  		<level value="INFO"/>
  		<appender-ref ref="STDOUT"/>
	</logger>
	
	
	<!-- Logger for everything else, including hibernate -->
  <root>
    <priority value="WARN"/>
    <appender-ref ref="STDOUT" />
  </root>
    
</log4j:configuration>