<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="sernet.verinice.samt.rcp">
      </category>
      <view
            name="%view.name"
            icon="icons/self-assessment.png"
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.rcp.SamtView"
            id="sernet.verinice.samt.rcp.views.SamtView">
      </view>
      <view
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.rcp.SpiderChartView"
            icon="icons/chart.png"
            id="sernet.verinice.samt.rcp.SpiderChartView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.audit.rcp.OrganizationView"
            icon="icons/organization.gif"
            id="sernet.verinice.samt.audit.rcp.OrganizationView"
            name="Organization-View">
      </view> 
      <view
            allowMultiple="true"
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.audit.rcp.AuditView"
            icon="icons/audit.png"
            id="sernet.verinice.samt.audit.rcp.AuditView"
            name="Audit-View">
      </view>
      <view
            allowMultiple="true"
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.audit.rcp.AssetView"
            icon="icons/asset.png"
            id="sernet.verinice.samt.audit.rcp.AssetView"
            name="Asset-View">
      </view>
      <view
            allowMultiple="true"
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.audit.rcp.ControlView"
            icon="icons/control.png"
            id="sernet.verinice.samt.audit.rcp.ControlView"
            name="Control-View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sernet.verinice.samt.rcp.SamtPerspective"
            id="sernet.verinice.samt.rcp.SamtPerspective"
            name="%perspective.name"
            icon="icons/self-assessment.png">
      </perspective>
      <perspective
            class="sernet.verinice.samt.audit.rcp.AuditPerspective"
            id="sernet.verinice.samt.audit.rcp.AuditPerspective"
            name="Audit Perspective"
            icon="icons/audit.png">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="sernet.verinice.samt.addSelfAssessment"
            targetID="sernet.verinice.samt.rcp.views.SamtView">
         <action
               class="sernet.verinice.samt.rcp.AddSelfAssessment"
               icon="icons/new.png"
               id="sernet.verinice.samt.rcp.AddSelfAssessment"
               label="%action.label"
               state="true"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.exportSelfAssessment"
            targetID="sernet.verinice.samt.rcp.views.SamtView">
         <action
               class="sernet.verinice.samt.rcp.ExportSelfAssessment"
               icon="icons/export.gif"
               id="sernet.verinice.samt.rcp.ExportSelfAssessment"
               label="Export..."
               state="true"
               style="push"
               toolbarPath="additions"
               tooltip="Export a Security Assessment...">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.audit.rcp.AuditView.switch"
            targetID="sernet.verinice.samt.audit.rcp.AuditView">
         <action
               class="sernet.verinice.samt.audit.rcp.SwitchElementMenuCreater"
               icon="icons/filter.gif"
               id="sernet.verinice.samt.audit.rcp.SwitchElement"
               label="Select element"
               style="pulldown"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.audit.rcp.AuditView.add"
            targetID="sernet.verinice.samt.audit.rcp.AuditView">
         <action
               class="sernet.verinice.samt.audit.rcp.AddMenuCreater"
               icon="icons/new.png"
               id="sernet.verinice.samt.audit.rcp.AddAudit"
               label="Add element"
               style="pulldown"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.audit.rcp.AssetView.switch"
            targetID="sernet.verinice.samt.audit.rcp.AssetView">
         <action
               class="sernet.verinice.samt.audit.rcp.SwitchElementMenuCreater"
               icon="icons/filter.gif"
               id="sernet.verinice.samt.audit.rcp.SwitchElement"
               label="Select element"
               style="pulldown"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.audit.rcp.AssetView.add"
            targetID="sernet.verinice.samt.audit.rcp.AssetView">
         <action
               class="sernet.verinice.samt.audit.rcp.AddMenuCreater"
               icon="icons/new.png"
               id="sernet.verinice.samt.audit.rcp.AddAsset"
               label="Add element"
               style="pulldown"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.audit.rcp.ControlView.switch"
            targetID="sernet.verinice.samt.audit.rcp.ControlView">
         <action
               class="sernet.verinice.samt.audit.rcp.SwitchElementMenuCreater"
               icon="icons/filter.gif"
               id="sernet.verinice.samt.audit.rcp.SwitchElement"
               label="Select element"
               style="pulldown"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.audit.rcp.AssetView.add"
            targetID="sernet.verinice.samt.audit.rcp.ControlView">
         <action
               class="sernet.verinice.samt.audit.rcp.AddMenuCreater"
               icon="icons/new.png"
               id="sernet.verinice.samt.audit.rcp.AddControl"
               label="Add element"
               style="pulldown"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sernet.verinice.samt.rcp.SamtPreferencePage"
            id="sernet.verinice.samt.rcp.SamtPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="sernet.verinice.samt.rcp.cheatSheets"
            name="%cheatsheets.category.1"/>
      <cheatsheet
            category="sernet.verinice.samt.rcp.cheatSheets"
            composite="false"
            contentFile="%cheatsheets.content.1"
            id="sernet.verinice.samt.rcp.cheatSheets.GettingStarted"
            name="%cheatsheets.1">
         <description>%cheatsheets.description.1</description>
      </cheatsheet>
    </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="sernet.verinice.samt.rcp.actionSet1"
            label="%actionSet.label"
            visible="true">
         <action
               class="sernet.verinice.samt.rcp.ShowSamtViewAction"
               icon="icons/self-assessment.png"
               id="sernet.verinice.samt.rcp.ShowSamtViewAction"
               label="%action.label.0"
               menubarPath="window/vn_menu_views/additions"
               style="push">
         </action>
         <action
               class="sernet.verinice.samt.rcp.ShowSpiderChartACtion"
               icon="icons/chart.png"
               id="sernet.verinice.samt.rcp.ShowMaturitySummaryAction"
               label="%action.label.1"
               menubarPath="window/vn_menu_views/additions"
               style="push">
         </action>
         <action
               class="sernet.verinice.samt.rcp.ShowSamtPerspectiveAction"
               icon="icons/self-assessment.png"
               id="sernet.verinice.samt.rcp.ShowSamtPerspectiveAction"
               label="%action.label.2"
               menubarPath="window/vn_menu_perspectives/additions"
               style="push">
         </action>
         <action
               class="sernet.verinice.samt.rcp.AddSelfAssessmentMenuAction"
               icon="icons/new.png"
               id="sernet.verinice.samt.rcp.AddSelfAssessmentMenuAction"
               label="%action.label.3"
               menubarPath="file/vn_menu_file"
               style="push">
         </action>
         <menu
               icon="icons/self-assessment.png"
               id="sernet.verinice.samt.rcp.menu1"
               label="%menu.label"
               path="file/vn_menu_file">
            <groupMarker
                  name="slot1">
            </groupMarker>
         </menu>
         <action
               class="sernet.verinice.samt.rcp.GenerateReportAction"
               id="sernet.verinice.samt.rcp.generatereport"
               label="%action.label.4"
               menubarPath="file/sernet.verinice.samt.rcp.menu1/slot1"
               style="push">
         </action>
         <action
               id="sernet.verinice.samt.rcp.exporttofile"
               label="%action.label.5"
               menubarPath="file/sernet.verinice.samt.rcp.menu1/slot1"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetItemExtension">
		 <itemExtension
		   itemAttribute="vnicon"
		   class="none">
		 </itemExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="sernet.verinice.model.iso27k.Organization"
            objectClass="sernet.verinice.model.iso27k.Organization">
         <action
               class="sernet.verinice.samt.rcp.ExportSelfAssessment"
               enablesFor="1"
               icon="icons/export.gif"
               id="sernet.verinice.samt.rcp.ExportSelfAssessment.menu"
               label="Export..."
               menubarPath="additions"
               style="push"
               tooltip="Export Security Assessment...">
         </action>
      </objectContribution>
   </extension>
</plugin>
