<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Self Assessment"
            id="sernet.verinice.samt.rcp">
      </category>
      <view
            name="Self Assessment View"
            icon="icons/sample.gif"
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.rcp.SamtView"
            id="sernet.verinice.samt.rcp.views.SamtView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sernet.verinice.samt.rcp.SamtPerspective"
            id="sernet.verinice.samt.rcp.SamtPerspective"
            name="Self Assessment Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="sernet.verinice.samt.addSelfAssessment"
            targetID="sernet.verinice.samt.rcp.views.SamtView">
         <action
               class="sernet.verinice.samt.rcp.AddSelfAssessment"
               icon="icons/new.png"
               id="sernet.verinice.samt.rcp.AddSelfAssessment"
               label="Add New Self Assessment"
               state="true"
               style="push"
               toolbarPath="additions"
               tooltip="Creates a New Self Assessment">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sernet.verinice.samt.rcp.SamtPreferencePage"
            id="sernet.verinice.samt.rcp.SamtPreferencePage"
            name="Self Assessment Prefernces">
      </page>
   </extension>
</plugin>
