<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="sernet.verinice.samt.rcp">
      </category>
      <view
            name="%view.name"
            icon="icons/vda.png"
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.rcp.SamtView"
            id="sernet.verinice.samt.rcp.views.SamtView">
      </view>
      <view
            category="sernet.verinice.samt.rcp"
            class="sernet.verinice.samt.rcp.SpiderChartView"
            icon="icons/chart.png"
            id="sernet.verinice.samt.rcp.SpiderChartView"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sernet.verinice.samt.rcp.SamtPerspective"
            id="sernet.verinice.samt.rcp.SamtPerspective"
            name="%perspective.name"
            icon="icons/vda.png">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:sernet.verinice.samt.rcp.views.SamtView?after=special">
         <command
               commandId="sernet.verinice.rcp.unify"
               disabledIcon="icons/konsolidator.png"
               icon="icons/konsolidator.png"
               label="%command.label.2"/>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="sernet.verinice.samt.addSelfAssessment"
            targetID="sernet.verinice.samt.rcp.views.SamtView">
         <action
               class="sernet.verinice.samt.rcp.AddSelfAssessment"
               icon="icons/new.png"
               id="sernet.verinice.samt.rcp.AddSelfAssessment"
               label="%action.label"
               state="true"
               style="push"
               toolbarPath="workflow"
               tooltip="%action.tooltip">
         </action>
      </viewContribution>
      <viewContribution
            id="sernet.verinice.samt.exportSelfAssessment"
            targetID="sernet.verinice.samt.rcp.views.SamtView">
         <action
               class="sernet.verinice.iso27k.rcp.action.ExportAction"
               icon="icons/export.gif"
               id="sernet.verinice.iso27k.rcp.action.ExportAction"
               label="%action.label.6"
               state="true"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.0">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sernet.verinice.samt.rcp.SamtPreferencePage"
            id="sernet.verinice.samt.rcp.SamtPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="sernet.verinice.samt.rcp.cheatSheets"
            name="%cheatsheets.category.1"/>
      <cheatsheet
            category="sernet.verinice.samt.rcp.cheatSheets"
            composite="false"
            contentFile="%cheatsheets.content.1"
            id="sernet.verinice.samt.rcp.cheatSheets.GettingStarted"
            name="%cheatsheets.1">
         <description>%cheatsheets.description.1</description>
      </cheatsheet>
    </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="sernet.verinice.samt.rcp.actionSet1"
            label="%actionSet.label"
            visible="true">
         <action
               class="sernet.verinice.samt.rcp.ShowSamtViewAction"
               icon="icons/self-assessment.png"
               id="sernet.verinice.samt.rcp.ShowSamtViewAction"
               label="%action.label.0"
               menubarPath="window/vn_menu_views/additions"
               style="push">
         </action>
         <action
               class="sernet.verinice.samt.rcp.ShowSpiderChartACtion"
               icon="icons/chart.png"
               id="sernet.verinice.samt.rcp.ShowMaturitySummaryAction"
               label="%action.label.1"
               menubarPath="window/vn_menu_views/additions"
               style="push">
         </action>
         <action
               class="sernet.verinice.samt.rcp.ShowSamtPerspectiveAction"
               icon="icons/self-assessment.png"
               id="sernet.verinice.samt.rcp.ShowSamtPerspectiveAction"
               label="%action.label.2"
               menubarPath="window/vn_menu_perspectives/additions"
               style="push">
         </action>
         <action
               class="sernet.verinice.samt.rcp.AddSelfAssessmentMenuAction"
               icon="icons/new.png"
               id="sernet.verinice.samt.rcp.AddSelfAssessmentMenuAction"
               label="%action.label.3"
               menubarPath="file/sernet.verinice.samt.rcp.menu1/slot1"
               style="push">
         </action>
         <menu
               icon="icons/self-assessment.png"
               id="sernet.verinice.samt.rcp.menu1"
               label="%menu.label"
               path="file/vn_menu_file">
            <groupMarker
                  name="slot1">
            </groupMarker>
         </menu>
         <action
               class="sernet.verinice.iso27k.rcp.action.ExportAction"
               icon="icons/export.gif"
               id="sernet.verinice.samt.rcp.exporttofile"
               label="%action.label.5"
               menubarPath="file/sernet.verinice.samt.rcp.menu1/slot1"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetItemExtension">
		 <itemExtension
		   itemAttribute="vnicon"
		   class="none">
		 </itemExtension>
   </extension>
   <extension point="org.eclipse.ui.decorators">
          <decorator
	            adaptable="true"
	            class="sernet.verinice.samt.rcp.IsaDecoratorForAudit"
	            id="sernet.verinice.samt.rcp.IsaDecoratorForAudit"
	            label="ISA Decorator for Audit"
	            lightweight="true"
	            location="TOP_LEFT"
	            state="true">
	         <enablement>
	         	<objectClass name="sernet.verinice.model.iso27k.Audit"/>        
	         </enablement>
	      </decorator>
	      <decorator
	            adaptable="true"
	            class="sernet.verinice.samt.rcp.IsaDecoratorForControlGroup"
	            id="sernet.verinice.samt.rcp.IsaDecoratorForControlGroup"
	            label="ISA Decorator for ControlGroup"
	            lightweight="true"
	            location="TOP_LEFT"
	            state="true">
	         <enablement>
	         	<objectClass name="sernet.verinice.model.iso27k.ControlGroup"/>        
	         </enablement>
	      </decorator>
	      <decorator
	            adaptable="true"
	            class="sernet.verinice.samt.rcp.IsaDecoratorForSamtTopic"
	            id="sernet.verinice.samt.rcp.IsaDecoratorForSamtTopic"
	            label="ISA Decorator for SamtTopic"
	            lightweight="true"
	            location="TOP_LEFT"
	            state="true">
	         <enablement>
	         	<objectClass name="sernet.verinice.model.samt.SamtTopic"/>        
	         </enablement>
	      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="sernet.verinice.model.iso27k.Audit"
            objectClass="sernet.verinice.model.iso27k.Audit">
         <menu id="workflow"
			   label="%menu.label.workflow"
			   icon="icons/tasks.gif"
			   path="special"> 
			   <separator name="create"/>
			   <separator name="special"/>
		 </menu>
         <action
               class="sernet.verinice.samt.rcp.AssignAllIsaTopics"
               enablesFor="+"
               icon="icons/user.png"
               id="sernet.verinice.samt.rcp.AssignAllIsaTopics"
               label="%action.label.15"
               menubarPath="workflow/special"
               style="push"
               tooltip="%action.tooltip.3">
         </action>
      </objectContribution>
   </extension>
</plugin>
