<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sernet.gs.server.application"
            name="verinice server">
         <property
               name="appName"
               value="verinice server">
         </property>
      </product>
   </extension>
   
      <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sernet.gs.verinice.application"
            name="verinice">
         <property
               name="aboutText"
               value="SerNet verinice&#x0A;&#x0A;(c) SerNet Service Network GmbH and others&#x0A;1996-2009&#x0A;&#x0A;&#x0A;Contact the authors:&#x0A;verinice@sernet.de&#x0A;&#x0A;or&#x0A;&#x0A;Visit our homepage:&#x0A;http://www.verinice.org&#x0A;&#x0A;This program comes with ABSOLUTELY NO WARRANTY.&#x0A;This is free software, and you are welcome to redistribute it under certain conditions.&#x0A;Verinice is licensed to you under the conditions of the GPLv3, the Apache license, the Eclipse Public License and others.&#x0A;See the LICENSE.txt contained in the program folder or the verinice Plugin-Details in the help menu for details."/>
         <property
               name="windowImages"
               value="icons/window16.gif,icons/window32.gif"/>
         <property
               name="aboutImage"
               value="icons/product_lg.gif"/>
         <property
               name="appName"
               value="verinice">
         </property>
      </product>
   </extension>
   
</plugin>
