<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="sernet.gs.ui.rcp.main.Application">
         </run>
      </application>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sernet.gs.server.application"
            name="verinice server">
         <property
               name="appName"
               value="verinice server">
         </property>
      </product>
   </extension>
</plugin>
