<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
       id="org.eclipse.jst.server.generic.runtime.websphere.6"
       name="%websphere.6.runtime.name"
       description="%websphere.6.runtime.description"
       vendor="%genericCategory"
       version="6.0"
       class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntime">
      <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4"/>
      <moduleType
         types="jst.ejb"
         versions="1.1, 2.0, 2.1"/>
      <moduleType
         types="jst.ear"
         versions="1.2, 1.3, 1.4"/>
      <moduleType
         types="jst.connector"
         versions="1.0, 1.5"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
  </extension>

   <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           runtime="true"
           class="org.eclipse.jst.server.generic.core.internal.GenericServer"
           id="org.eclipse.jst.servers.websphere.6"
           initialState="stopped"
		   startTimeout="300000"
           stopTimeout="15000"
           supportsRemoteHosts="false"
           runtimeTypeId="org.eclipse.jst.server.generic.runtime.websphere.6"
           description="%websphere.6.server.description"
           launchConfigId="org.eclipse.jst.server.generic.core.launchConfigurationType"
           behaviourClass="org.eclipse.jst.server.generic.core.internal.GenericServerBehaviour"
           name="%websphere.6.server.name"
           hasConfiguration="false"
           launchModes="run,debug"
           startBeforePublish="true">
     </serverType>
	</extension>

<!-- UI Components-->
   <extension point="org.eclipse.wst.server.ui.wizardFragments">
     <fragment
        id="org.eclipse.jst.server.generic.runtime"
        typeIds="org.eclipse.jst.server.generic.runtime.websphere.6"
        class="org.eclipse.jst.server.generic.ui.internal.GenericServerRuntimeWizardFragment"/>           
     <fragment
        id="org.eclipse.jst.server.generic.server"
        typeIds="org.eclipse.jst.servers.websphere.6"
        class="org.eclipse.jst.server.generic.ui.internal.GenericServerWizardFragment"/>   
  </extension>
  
  <extension point="org.eclipse.wst.server.ui.serverImages">
     <image
         id="org.eclipse.jst.server.generic.image"
         icon="icons/obj16/websphere.gif"
         typeIds="org.eclipse.jst.servers.websphere.6" />
     <image
         id="org.eclipse.jst.server.generic.image"
         icon="icons/obj16/websphere.gif"
         typeIds="org.eclipse.jst.server.generic.runtime.websphere.6"/>
	</extension>
  
<!-- Server type definitions -->
   <extension point="org.eclipse.jst.server.generic.core.serverdefinition">
		<serverdefinition id="org.eclipse.jst.server.generic.runtime.websphere.6" definitionfile="/serverdef/websphere.6.serverdef">
		</serverdefinition>
   </extension>

   <extension point="org.eclipse.jst.server.generic.core.genericpublisher">
      <genericpublisher
            class="org.eclipse.jst.server.websphere.core.AntPublisher"
            id="org.eclipse.jst.server.generic.websphere.antpublisher"/>
   </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type
       id="org.eclipse.jst.server.generic.runtime.websphere">
    </runtime-component-type>

    <runtime-component-version
       type="org.eclipse.jst.server.generic.runtime.websphere"
       version="6.0"/>

    <adapter>
      <runtime-component
         id="org.eclipse.jst.server.generic.runtime.websphere"/>
      <factory
         class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory"/>
      <type
         class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
    </adapter>

    <supported>
      <runtime-component
         id="org.eclipse.jst.server.generic.runtime.websphere"
         version="6.0"/>
      <facet
         id="jst.web"
         version="2.2,2.3,2.4"/>
      <facet
         id="jst.ejb"
         version="1.1,2.0,2.1"/>
      <facet
         id="jst.ear"
         version="1.2,1.3,1.4"/>
         
       <facet
         id="jst.appclient"
         version="1.2,1.3,1.4"/>
       
       <facet
         id="jst.utility"
         version="1.0"/>  
         
       <facet
         id="jst.connector"
         version="1.0,1.5"/>
    </supported>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.defaultFacets">
    <default-facets>
      <runtime-component id="org.eclipse.jst.server.generic.runtime.websphere"/>
      <facet id="wst.jsdt.web" version="1.0"/>
    </default-facets>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image runtime-component-type="org.eclipse.jst.server.generic.runtime.websphere"
      path="icons/obj16/websphere.gif"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <adapter>
      <runtime-component id="org.eclipse.jst.server.generic.runtime.websphere"/>
      <factory class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory"/>
      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
    </adapter>
  </extension>
</plugin>