<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="sernet.gs.ui.rcp.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="sernet.gs.ui.rcp.main.Perspective"
            icon="icons/de.png"
            id="sernet.gs.ui.rcp.main.perspective"
            name="Datensicherheit">
      </perspective>
      <perspective
            class="sernet.gs.ui.rcp.main.PerspectiveDS"
            icon="icons/sample.gif"
            id="sernet.gs.ui.rcp.main.dsperspective"
            name="Datenschutz"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.BrowserView"
            icon="icons/tag.png"
            id="sernet.gs.ui.rcp.main.bsi.views.browserview"
            name="Maßnahmen-Browser">
      </view>
      <view
            allowMultiple="false"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.BSIMassnahmenView"
            icon="icons/de.png"
            id="sernet.gs.ui.rcp.main.views.bsimassnahmenview"
            name="IT-Grundschutz">
      </view>
      <category
            id="sernet.gs.ui.rcp.main.views"
            name="Grundschutz"/>
      <view
            allowMultiple="false"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.BsiModelView"
            icon="icons/tree_explorer.gif"
            id="sernet.gs.ui.rcp.main.views.bsimodelview"
            name="GS Modell"/>
      <view
            allowMultiple="false"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.DSModelView"
            icon="icons/shield.png"
            id="sernet.gs.ui.rcp.main.views.dsmodelview"
            name="Datenschutz"/>
      <view
            allowMultiple="false"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.TodoView"
            icon="icons/24-em-check.png"
            id="sernet.gs.ui.rcp.main.bsi.views.todoview"
            name="Realisierungsplan"/>
      <view
            allowMultiple="false"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.AuditView"
            icon="icons/24-zoom.png"
            id="sernet.gs.ui.rcp.main.bsi.views.auditview"
            name="Prüfplan"/>
      <view
            allowMultiple="true"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.chart.ChartView"
            icon="icons/chart_pie.png"
            id="sernet.gs.ui.rcp.main.chartview"
            name="Charts">
      </view>
      <view
            allowMultiple="false"
            category="sernet.gs.ui.rcp.main.views"
            class="sernet.gs.ui.rcp.main.bsi.views.DocumentView"
            icon="icons/script.png"
            id="sernet.gs.ui.rcp.main.documentview"
            name="Richtlinien">
      </view>
      <view
            allowMultiple="false"
            category="sernet.gs.ui.rcp.main.bsi.views"
            class="sernet.gs.ui.rcp.main.bsi.views.NoteView"
            icon="icons/note.png"
            id="sernet.gs.ui.rcp.main.bsi.views.NoteView"
            name="Notizen"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Open View"
            categoryId="sernet.gs.ui.rcp.commands"
            id="sernet.gs.ui.rcp.main.open">
      </command>
      <command
            categoryId="sernet.gs.ui.rcp.commands"
            id="sernet.gs.ui.rcp.main.editmassnahme"
            name="sernet.gs.ui.rcp.main.editmassnahme"/>
      <category
            id="sernet.gs.ui.rcp.commands"
            name="verinice"/>
      <command
            categoryId="sernet.gs.ui.rcp.commands"
            description="Mehrere Elemente editieren"
            id="sernet.gs.ui.rcp.main.actions.showbulkeditaction"
            name="Zeige Bulk Edit Dialog"/>
      <command
            categoryId="sernet.gs.ui.rcp.commands"
            description="Zeige Vorschläge für Bausteine"
            id="sernet.gs.ui.rcp.main.bausteinzuordnungaction"
            name="Zeige Vorschläge für Bausteine">
      </command>
      <command
            categoryId="sernet.gs.ui.rcp.commands"
            description="Aktualisiert die Ansicht aus der Datenbank"
            id="sernet.gs.ui.rcp.main.reloadaction"
            name="Aktualisieren">
      </command>
      <command
            categoryId="sernet.gs.ui.rcp.commands"
            description="Zugriffsberechtigungen ändern"
            id="sernet.gs.ui.rcp.main.actions.showaccesscontroleditaction"
            name="Zeige Zugriffsberechtigungsdialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+X">
      </key>
      <key
            commandId="sernet.gs.ui.rcp.main.actions.showbulkeditaction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+B"/>
      <key
            commandId="sernet.gs.ui.rcp.main.bausteinzuordnungaction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
      <key
            commandId="sernet.gs.ui.rcp.main.reloadaction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+F5">
      </key>
      <key
            commandId="sernet.gs.ui.rcp.main.actions.showaccesscontroleditaction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sernet.gs.ui.rcp.main.application"
            name="verinice 1.0.16-SNAPSHOT">
         <property
               name="aboutText"
               value="SerNet verinice&#x0A;&#x0A;(c) SerNet Service Network GmbH and others&#x0A;1996-2009&#x0A;&#x0A;&#x0A;Contact the authors:&#x0A;verinice@sernet.de&#x0A;&#x0A;or&#x0A;&#x0A;Visit our homepage:&#x0A;http://www.verinice.org&#x0A;&#x0A;Contributors:&#x0A;Alexander Koderman 		&lt;ak@sernet.de&gt;&#x0A;Anne Hanekop 			&lt;ah@sernet.de&gt;&#x0A;Marek Seeger			&lt;ms@sernet.de&gt;&#x0A;Andreas Becker			&lt;andreas.r.becker@ruhr-uni-bochum.de&gt;&#x0A;Robert Schuster			&lt;rschuster@tarent.de&gt;&#x0A;&#x0A;&#x0A;This program comes with ABSOLUTELY NO WARRANTY.&#x0A;This is free software, and you are welcome to redistribute it under certain conditions.&#x0A;Verinice is licensed to you under the conditions of the GPLv3, the Apache license, the Eclipse Public License and others.&#x0A;See the LICENSE.txt contained in the program folder, the verinice Plugin-Details in the help menu and the copyright and license header in each source file for details."/>
         <property
               name="windowImages"
               value="icons/window16.gif,icons/window32.gif"/>
         <property
               name="aboutImage"
               value="icons/product_lg.gif"/>
         <property
               name="appName"
               value="verinice 1.0.16-SNAPSHOT">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="sernet.gs.ui.rcp.main.views.BsiModelView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.elementcontrib"
            objectClass="sernet.gs.ui.rcp.main.common.model.CnATreeElement">
             <action
                   class="sernet.gs.ui.rcp.main.bsi.actions.DeleteActionDelegate"
                   enablesFor="+"
                   icon="icons/16-em-cross.png"
                   id="sernet.gs.ui.rcp.main.bsi.deleteaction"
                   label="Löschen"
                   menubarPath="content"
                   tooltip="BSI Objekt löschen">
                <enablement>
                   <or>
                   	<objectClass name="sernet.gs.ui.rcp.main.bsi.model.IBSIStrukturElement"/>
                   	<objectClass name="sernet.gs.ui.rcp.main.bsi.model.BausteinUmsetzung"/>
                   	<objectClass name="sernet.gs.ui.rcp.main.bsi.risikoanalyse.model.FinishedRiskAnalysis"/>
                   	<objectClass name="sernet.gs.ui.rcp.main.bsi.risikoanalyse.model.GefaehrdungsUmsetzung"/>
                   </or>
                </enablement>
             </action>
             <action
                   class="sernet.gs.ui.rcp.main.bsi.actions.OpenAction"
                   enablesFor="+"
                   icon="icons/edtsrclkup_co.gif"
                   id="sernet.gs.ui.rcp.main.bsi.actions.openaction"
                   label="Öffnen"
                   menubarPath="content"
                   tooltip="Objekt öffnen">
                   <enablement>
                   <or>
                   	<objectClass name="sernet.gs.ui.rcp.main.bsi.model.IBSIStrukturElement"/>
                   	<objectClass name="sernet.gs.ui.rcp.main.bsi.model.BausteinUmsetzung"/>
                    <objectClass name="sernet.gs.ui.rcp.main.bsi.model.MassnahmenUmsetzung"/>
                   </or>
                </enablement>
             </action>
             <action
                   class="sernet.gs.ui.rcp.main.bsi.risikoanalyse.actions.NeueRisikoanalyseAction"
                   enablesFor="1"
                   icon="icons/16-message-warn.png"
                   id="sernet.gs.ui.rcp.main.neueRisikoanalyse"
                   label="Neue Risikoanalyse"
                   menubarPath="content"
                   tooltip="Risikoanalyse durchführen">
                <enablement>
                   <and>
                   		<objectClass name="sernet.gs.ui.rcp.main.bsi.model.IBSIStrukturElement"/>
                   <not>
                      <or>
                      		<objectClass name="sernet.gs.ui.rcp.main.bsi.model.ITVerbund"/>
                      		<objectClass name="sernet.gs.ui.rcp.main.bsi.model.Person"/>
                      </or>
                   </not>
                   </and>
                </enablement>
             </action>
            
      </objectContribution>
      
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.elementcontrib"
            objectClass="sernet.gs.ui.rcp.main.common.model.CnALink">
             <action
                   class="sernet.gs.ui.rcp.main.bsi.actions.DeleteLinkActionDelegate"
                   enablesFor="+"
                   icon="icons/link_delete.png"
                   id="sernet.gs.ui.rcp.main.bsi.deletelinkaction"
                   label="Verknüpfung entfernen"
                   menubarPath="content"
                   tooltip="Verknüpfung löschen">
              
             </action>
            
      </objectContribution>
      
          <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.categorycontrib"
            objectClass="sernet.gs.ui.rcp.main.common.model.CnATreeElement">
        <menu
               id="sernet.gs.ui.rcp.main.bsi.addsubmenu"
               label="Neu..."
               path="content">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
       
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.gebaeudecontrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.GebaeudeKategorie">
        
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddGebaudeActionDelegate"
               enablesFor="+"
               icon="icons/building.png"
               id="sernet.gs.ui.rcp.main.addgebaeude"
               label="Neues Gebäude"
               menubarPath="additions"
               style="push"
               tooltip="Neues Gebäude dem IT Verbund hinzufügen"/>
        
      </objectContribution>
     
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.personcontrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.PersonenKategorie">
             <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddPersonActionDelegate"
               enablesFor="+"
               icon="icons/user.png"
               id="sernet.gs.ui.rcp.main.addperson"
               label="Neuer Mitarbeiter"
               menubarPath="additions"
               style="push"
               tooltip="Neue Person dem IT Verbund hinzufügen"/>
               </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.anwendungContrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.AnwendungenKategorie">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddAnwendungActionDelegate"
               enablesFor="+"
               icon="icons/application_osx.png"
               id="sernet.gs.ui.rcp.main.addanwendung"
               label="Neue Anwendung"
               menubarPath="additions"
               style="push"
               tooltip="Neue Anwendung hinzufügen"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.clientContrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.ClientsKategorie">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddClientActionDelegate"
               enablesFor="+"
               icon="icons/computer.png"
               id="sernet.gs.ui.rcp.main.addclient"
               label="Neuer Client"
               menubarPath="additions"
               style="push"
               tooltip="Neuen Client hinzufügen (PC, Laptop...)"/>
      </objectContribution>
      
       <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.sonstitContrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.SonstigeITKategorie">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddSonstItActionDelegate"
               enablesFor="+"
               icon="icons/sonstit.png"
               id="sernet.gs.ui.rcp.main.addsonstit"
               label="Neues IT-System"
               menubarPath="additions"
               style="push"
               tooltip="Neues sonstiges IT-System hinzufügen (PDA, Netzwerkdrucker...)"/>
      </objectContribution>
      
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.nkContrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.NKKategorie">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddNetzKomponenteActionDelegate"
               enablesFor="+"
               icon="icons/drive_network.png"
               id="sernet.gs.ui.rcp.main.addNk"
               label="Neues Netz / neue Verbindung"
               menubarPath="additions"
               style="push"
               tooltip="Netze / Verbindungen hinzufügen"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.tkContrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.TKKategorie">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddTelefonKomponenteActionDelegate"
               enablesFor="+"
               icon="icons/phone.png"
               id="sernet.gs.ui.rcp.main.addTk"
               label="Neue TK-Komponente"
               menubarPath="additions"
               style="push"
               tooltip="Neue Telekommunikations-Komponente"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.serverContrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.ServerKategorie">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddServerActionDelegate"
               enablesFor="+"
               icon="icons/server_database.png"
               id="sernet.gs.ui.rcp.main.addServer"
               label="Neuer Server"
               menubarPath="additions"
               style="push"
               tooltip="Neuen Server hinzufügen"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.raumContrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.RaeumeKategorie">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddRaumActionDelegate"
               enablesFor="+"
               icon="icons/door_open.png"
               id="sernet.gs.ui.rcp.main.addRaum"
               label="Neuer Raum"
               menubarPath="additions"
               style="push"
               tooltip="Neuen Raum hinzufügen"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.itverbundcontrib"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.ITVerbund">
             <action
                   class="sernet.gs.ui.rcp.main.bsi.actions.AddITVerbundActionDelegate"
                   enablesFor="*"
                   icon="icons/tree_explorer.gif"
                   id="sernet.gs.ui.rcp.main.additverbund"
                   label="Neuer IT-Verbund"
                   menubarPath="additions"
                   style="push"
                   tooltip="Neuen IT Verbund hinzufügen">
             </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.personContribution1"
            objectClass="sernet.gs.ui.rcp.main.bsi.model.Person">
         <action
               class="sernet.gs.ui.rcp.main.actions.ConfigurationAction"
               enablesFor="1"
               icon="icons/user_edit.png"
               id="sernet.gs.ui.rcp.main.personconfiguration"
               label="Account-Einstellungen..."
               menubarPath="additions"
               style="push"
               tooltip="Username, Passwort, Mailadresse u.a. benutzerspezifische Einstellungen">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="sernet.gs.ui.rcp.main.bsi.notecontrib"
            objectClass="sernet.gs.ui.rcp.main.common.model.CnATreeElement">
         <action
               class="sernet.gs.ui.rcp.main.bsi.actions.AddNoteActionDelegate"
               enablesFor="1"
               icon="icons/note.png"
               id="sernet.gs.ui.rcp.main.bsi.actions.addnote"
               label="neue Notiz"
               menubarPath="additions"
               style="push"
               tooltip="Neue Notiz hinzufügen">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="sernet.gs.ui.rcp.main.bsi.editors.BSIElementEditor"
            default="false"
            icon="icons/24-tool-a.png"
            id="sernet.gs.ui.rcp.main.bsi.editors.bsielementeditor"
            name="BSI Objekteditor"/>
      <editor
            class="sernet.gs.ui.rcp.main.bsi.editors.NoteEditor"
            default="false"
            icon="icons/note.png"
            id="sernet.gs.ui.rcp.main.bsi.editors.noteeditor"
            name="Note Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sernet.gs.ui.rcp.main.preferences.GeneralSettingsPage"
            id="sernet.gs.ui.rcp.main.page4"
            name="Allgemeine Einstellungen"/>
      <page
            class="sernet.gs.ui.rcp.main.preferences.KatalogePreferencePage"
            id="sernet.gs.ui.rcp.main.preferences.CnAPreferencePage1"
            name="BSI IT-Grundschutz"/>
      <page
            class="sernet.gs.ui.rcp.main.preferences.ClientServerPreferencePage"
            id="sernet.gs.ui.rcp.main.page6"
            name="Betriebsmodus (Server / Standalone)">
      </page>
      <page
            class="sernet.gs.ui.rcp.main.preferences.DatenbankPreferencePage"
            id="sernet.gs.ui.rcp.main.page2"
            name="Datenbank"/>
      <page
            class="sernet.gs.ui.rcp.main.preferences.ReportPreferencePage"
            id="sernet.gs.ui.rcp.main.page3"
            name="Reporting / Export (OpenOffice)"/>
      <page
            class="sernet.gs.ui.rcp.main.preferences.GSImportPreferencePage"
            id="sernet.gs.ui.rcp.main.page5"
            name="GSTool Import">
      </page>
      <page
            category="sernet.gs.ui.rcp.main.page5"
            class="sernet.gs.ui.rcp.main.preferences.GSImportRestorePreferencePage"
            id="sernet.gs.ui.rcp.main.preferences.gsimportrestorepreferencepage"
            name="Sicherungsdatei wiederherstellen">
      </page>
      <page
            category="sernet.gs.ui.rcp.main.page5"
            class="sernet.gs.ui.rcp.main.preferences.GSImportAttachPreferencePage"
            id="sernet.gs.ui.rcp.main.page6"
            name="Datenbank anhängen">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="sernet.gs.ui.rcp.main.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="sernet.gs.ui.rcp.main.cheatSheets"
            name="1_verinice Tutorials"/>
      <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/ErsteSchritte.xml"
            id="sernet.gs.ui.rcp.main.cheatsheet1"
            name="1_Erste Schritte">
         <description>
         Dieser Spickzettel erklaert die ersten Schritte mit verinice.
         </description>
      </cheatsheet>
      <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/Strukturanalse.xml"
            id="sernet.gs.ui.rcp.main.cheatsheet2"
            name="2_Strukturanalyse">
            <description>
            So erfassen Sie mit verinice Ihren IT-Verbund.
            </description>
        </cheatsheet>
      <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/Schutzbedarfsanalyse.xml"
            id="sernet.gs.ui.rcp.main.schutzbedarf"
            name="3_Schutzbedarfsanalyse">
            <description>
            Schutzbedarf zuweisen und Objekte verknüpfen.
            </description>
        </cheatsheet>
      <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/Modellierung.xml"
            id="sernet.gs.ui.rcp.main.modellierung"
            name="4_Modellierung nach IT-Grundschutz">
            <description>
            Zuordnen von Bausteinen zu Zielobjekten.
            </description>
        </cheatsheet>
        <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/BasisSicherheitscheck.xml"
            id="sernet.gs.ui.rcp.main.basischeck"
            name="5_Basis-Sicherheitscheck">
            <description>
            Maßnahmen dokumentieren, einfach und mit Hilfsmitteln.
            </description>
        </cheatsheet>
        <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/ErgaenzendeAnalyse.xml"
            id="sernet.gs.ui.rcp.main.ergaenzendeanalyse"
            name="6_Ergänzende Sicherheitsanalyse">
            <description>
            So dokumentieren Sie die Durchführung der ergänzenden Sicherheitsanalyse.
            </description>
        </cheatsheet>
        <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/Risikoanalyse.xml"
            id="sernet.gs.ui.rcp.main.risikoanalyse"
            name="7_Risikoanalyse">
            <description>
            Risikoanalyse mit verinice.
            </description>
        </cheatsheet>
        <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/Reports.xml"
            id="sernet.gs.ui.rcp.main.reports"
            name="8_Erzeugen von Reports">
            <description>
            So erzeugen Sie die vom BSI geforderten Referenzdokumente und weitere Reports.
            </description>
        </cheatsheet>
        <cheatsheet
            category="sernet.gs.ui.rcp.main.cheatSheets"
            composite="false"
            contentFile="cheatsheets/Datenschutz.xml"
            id="sernet.gs.ui.rcp.main.datenschutz"
            name="9_Datenschutz">
            <description>
               Verfahren für Datenschutz dokumentieren.
            
            </description>
        </cheatsheet>
        <cheatsheet
              category="sernet.gs.ui.rcp.main.cheatSheets2"
              composite="false"
              contentFile="cheatsheets/gstool_import_ms.xml"
              id="sernet.gs.ui.rcp.main.gstool1"
              name="1_GSTOOL-Daten importieren">
           <description>
              Daten direkt aus dem GSTOOL(tm) des BSI importieren.
           </description>
        </cheatsheet>
        <cheatsheet
              category="sernet.gs.ui.rcp.main.cheatSheets2"
              composite="false"
              contentFile="cheatsheets/GSTOOL-BAK-Datei-Import.xml"
              id="sernet.gs.ui.rcp.main.gstool2"
              name="2_GSTOOL-Exportdatei (.BAK) importieren">
           <description>
              Daten importieren, die über den Menüpunkt &quot;Daten sichern&quot; aus dem GSTOOL exportiert wurden. Dies kann z.B. eine .BAK Datei sein, die Ihnen von einem Anwender des GSTOOL übermittelt wurde.
           </description>
        </cheatsheet>
        <cheatsheet
              category="sernet.gs.ui.rcp.main.cheatSheets2"
              composite="false"
              contentFile="cheatsheets/MDF-Datei-Import.xml"
              id="sernet.gs.ui.rcp.main.gstool3"
              name="3_GSTOOL-Daten aus Datei (.MDF) importieren">
           <description>
              Eine getrennte Datenbankdatei importieren. Dies kann eine Datei sein, die ein Anwender des GSTOOL über das mit dem GSTOOL ausgelieferte Datenbank-Werkzeug zunächst getrennt und dann kopiert hat. (Menüpunkt:&quot;Datenbank trennen&quot;)
           </description>
        </cheatsheet>
        <category
              id="sernet.gs.ui.rcp.main.cheatSheets2"
              name="2_GSTOOL(tm) Import Tutorials">
        </category>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="sernet.gs.ui.rcp.main.intro1"/>
      <introProductBinding
            introId="sernet.gs.ui.rcp.main.intro1"
            productId="sernet.gs.ui.rcp.main.product"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="sernet.gs.ui.rcp.main.config1"
            introId="sernet.gs.ui.rcp.main.intro1">
         <presentation home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"/>
         </presentation>
      </config>
   </extension>

</plugin>
