input.submit {
	margin-top:1em;
}
.formElement {
	width: 150px;
	margin-left:1em;
}
.mainMenu ul li a.selected {
	background-color:#F1EEE9;
}
.oddRow {
	background-color:#fff8fa;
}
.selected {
	background-color:#F1EEE9;
}
.floatbox ul {
	list-style-type:none;
	margin:0;
	overflow:hidden;
}
.floatbox ul a {
	display:block;
	text-decoration:none;
}
.floatbox ul li {
	margin-left: 0px;
	padding-bottom: 0px;
}
.floatbox ul li a.selected {
	background-color:#F1EEE9;
}
.floatbox ul li a {
	background-color:#FFFFFF;
	border-bottom:1px solid #EEEEEE;
	color:#444444;
	padding:3px 0 3px;
	width:100%;
}
.floatbox ul li a:hover {
	background-color:#F1EEE9;
}
h1 a {
	font-size:1.1em; 
	color:#765;
}
h1 a:visited {
	color:#765;
}

/* h1+a: a after h1 */
h1+a {
	color:#765;
}
h1+a:visited {
	color:#765;
}

#col3 li {
	line-height:1em;
}
#col3 ul li a {
	padding:5px 3px 3px 7px;
	display:block;
}

.rich-panelbar-content {
    padding: 0;
}
.rich-panelbar-header {
	padding:5px 3px 3px 7px;
}
.rich-panelbar-header-act {
	padding:5px 3px 3px 7px;
}

.rich-tab-inactive {
    cursor: pointer;
}
.rich-tab-bottom-line table {
	margin-bottom: 0;
}

#status {
	position:absolute;
	top: 50px;
	right: 10px;
	color: #fff;
	background: transparent;
	text-align: right; 
	border-width: 1px;
	border-color: gray;
}

#messages {
	margin: 0;
	padding: 0;
	background: #fdffc5;
	color: #765;
}
#messages div {
	float: left;
	width: 100%;
	margin-right: 1em;
	vertical-align: middle;
}
#messages div dl {
	margin: 0.5em;
}
