## Default/English email template for tasks notification
## Notification properties: veriniceserver-plain.properties
## Notification configuration: veriniceserver-plain.xml, veriniceserver-jbpm.xml
## Notifications are send as plain text, don't use HTML.
## Save this file UTF-8 encoded.
##
## Notifications service sets variables:
## ${address}: Mr, Mrs or if not set Mrs/Mr
## ${name}: Surname
## ${n}: Number of new tasks
## ${url}: Url to task site of verinice.WEB
## ${email}: Recipient 
## ${emailFrom}: Sender
## ${replyTo}: reply to email
##
Sehr geehrte(r) ${address} ${name},

der Verantwortliche für die Umsetzung der Maßnahme:
${elementTitle}
hat angegeben, dass er für diese Aufgabe nicht zuständig ist.

Seine Erklärung ist:
"${comment}"

Sie sollten ggf. einen neuen Verantwortlichen auswählen.

Eine Liste mit allen Ihren Aufgaben finden Sie hier:
${url}

Nach dem Login k&ouml;nnen Sie Ihre Aufgaben im Browser bearbeiten.

[Diese Email wurde automatisch erzeugt.]

verinice ist ein ISMS-Tool für das Management von Informationssicherheit:
http://www.verinice.org/