## Default/English email template for tasks notification
## Notification properties: veriniceserver-plain.properties
## Notification configuration: veriniceserver-plain.xml, veriniceserver-jbpm.xml
## Notifications are send as plain text, don't use HTML.
## Save this file UTF-8 encoded.
##
## Notifications service sets variables:
## ${address}: Mr, Mrs or if not set Mrs/Mr
## ${name}: Surname
## ${url}: Url to task site of verinice.WEB
## ${email}: Recipient 
## ${emailFrom}: Sender
## ${replyTo}: reply to email
## ${taskTitle}: Title of task
## ${taskDescription}: Description of task 
## ${elementTitle}: Title of affected element
##
Hallo ${address} ${name},<br/>
<br/>
dies ist eine Erinnerung f&uuml;r eine Aufgabe, die Ihnen in verinice zugeteilt wurde:<br/>
<br/>
${taskTitle}<br/>
<br/>
${taskDescription}<br/>
<br/>
<br/>
Die Aufgabe betrifft folgendes Objekt in verinice:<br/>
${elementTitle}<br/>
<br/>
Eine Liste mit allen Ihren Aufgaben finden Sie hier:<br/>
<a href="${url}">${url}</a><br/>
<br/>
<br/>
Nach dem Login k&ouml;nnen Sie Ihre Aufgaben im Browser bearbeiten.<br/>
<br/>
[Diese Email wurde automatisch erzeugt.]<br/>
<br/>
verinice ist ein ISMS-Tool f&uuml;r das Management von Informationssicherheit:<br/>
http://www.verinice.org/