<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
	<extension id="org.eclipse.equinox.p2.publisher.InstallPublisher" point="org.eclipse.core.runtime.applications">
		<application cardinality="1" thread="any" visible="true">
			<run class="org.eclipse.equinox.p2.publisher.eclipse.InstallPublisherApplication" />
		</application>
	</extension>
	<extension id="org.eclipse.equinox.p2.publisher.EclipseGenerator" point="org.eclipse.core.runtime.applications">
		<application cardinality="1" thread="main" visible="true">
			<run class="org.eclipse.equinox.internal.p2.publisher.compatibility.GeneratorApplication" />
		</application>
	</extension>
	<extension id="org.eclipse.equinox.p2.publisher.ProductPublisher" point="org.eclipse.core.runtime.applications">
		<application cardinality="1" thread="any" visible="true">
			<run class="org.eclipse.equinox.p2.publisher.eclipse.ProductPublisherApplication" />
		</application>
	</extension>
	<extension id="org.eclipse.equinox.p2.publisher.FeaturesAndBundlesPublisher" point="org.eclipse.core.runtime.applications">
		<application cardinality="1" thread="any" visible="true">
			<run class="org.eclipse.equinox.p2.publisher.eclipse.FeaturesAndBundlesPublisherApplication" />
		</application>
	</extension>

	<extension point="org.eclipse.ant.core.antTasks">
		<antTask
			library="ant_tasks/pdepublishing-ant.jar"
			name="p2.publisher"
			class="org.eclipse.equinox.internal.p2.publisher.ant.PublisherTask">
		</antTask>
    <antTask
          class="org.eclipse.equinox.internal.p2.publisher.ant.FeaturesAndBundlesPublisherTask"
          library="ant_tasks/pdepublishing-ant.jar"
          name="p2.publish.featuresAndBundles">
    </antTask>
    <antTask
          class="org.eclipse.equinox.internal.p2.publisher.ant.ProductPublisherTask"
          library="ant_tasks/pdepublishing-ant.jar"
          name="p2.publish.product">
    </antTask>
	</extension>

	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="ant_tasks/pdepublishing-ant.jar"/>
	</extension>

</plugin>
