<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target-platform-slim" sequenceNumber="0">
<locations>
<location path="/home/simon/git/verinice-master/verinice/target-platform/slim-target" type="Directory"/>
</locations>
</target>
