<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform-e4" sequenceNumber="113">
<locations>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable" version="0.0.0"/>
<unit id="org.apache.batik.css" version="0.0.0"/>
<unit id="org.apache.batik.util" version="0.0.0"/>
<unit id="org.apache.xmlgraphics" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.22/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.birt.chart.device.pdf" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.device.swt" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.engine" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.engine.extension" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.reportitem" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.reportitem.ui" version="0.0.0"/>
<unit id="org.eclipse.birt.core" version="0.0.0"/>
<unit id="org.eclipse.birt.core.script.function" version="0.0.0"/>
<unit id="org.eclipse.birt.chart.examples.core" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.dataextraction" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.dataextraction.csv" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.html" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.html" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.html.nl1" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.pdf" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.pdf" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.wpml" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.wpml" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.odt" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.odt" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.odp" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.odp" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.ods" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.ods" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.excel" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.excel.nl1" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.prototype.excel" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.docx" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.docx" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.emitter.config.docx.nl1" version="0.0.0"/>
<unit id="uk.co.spudsoft.birt.emitters.excel" version="0.0.0"/>
<unit id="com.github.librepdf.openpdf" version="0.0.0"/>
<unit id="org.apache.xalan" version="0.0.0"/>
<unit id="org.eclipse.birt.report.engine.script.javascript" version="0.0.0"/>
<unit id="org.eclipse.datatools.connectivity.db.generic" version="0.0.0"/>
<unit id="org.apache.batik.ext" version="0.0.0"/>
<unit id="org.mozilla.javascript" version="0.0.0"/>
<unit id="org.mozilla.javascript.source" version="0.0.0"/>
<unit id="javax.xml.soap" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<repository location="https://download.eclipse.org/birt/update-site/4.9.0/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="ch.qos.logback.classic" version="1.2.3.v20200428-2012"/>
    <unit id="ch.qos.logback.classic.source" version="1.2.3.v20200428-2012"/>
    <unit id="ch.qos.logback.core" version="1.2.3.v20200428-2012"/>
    <unit id="ch.qos.logback.core.source" version="1.2.3.v20200428-2012"/>
    <unit id="ch.qos.logback.slf4j" version="1.2.3.v20200428-2012"/>
    <unit id="javax.jws" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20211122181901/repository/"/>
</location>


    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        <unit id="apache.feature.group" version="0.8.0"/>
        <unit id="apache.source.feature.group" version="0.8.0"/>
        <unit id="com.mchange.c3p0.feature.group" version="0.9.5.4"/>
        <unit id="com.mchange.c3p0.source.feature.group" version="0.9.5.4"/>
        <unit id="jfree.feature.group" version="1.0.0"/>
        <unit id="jfree.source.feature.group" version="1.0.0"/>
        <unit id="org.hibernate.feature.group" version="3.6.11"/>
        <unit id="org.hibernate.source.feature.group" version="3.6.11"/>
        <unit id="pax.feature.group" version="0.6.0"/>
        <unit id="pax.source.feature.group" version="0.6.0"/>
        <unit id="spring.feature.group" version="0.8.0"/>
        <unit id="spring.source.feature.group" version="0.8.0"/>
        <unit id="verinicepatches.feature.group" version="1.0.0"/>
        <unit id="verinicepatches.source.feature.group" version="1.0.0"/>
        <repository location="https://update.verinice.org/pub/verinice/updatesites/verinice-deps-20220406143604/"/>
    </location>


<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_cs.feature.group" version="0.0.0"/>
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="0.0.0"/>
<unit id="org.eclipse.babel.nls_eclipse_it.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/technology/babel/update-site/R0.19.2/2021-12/"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/nebula/releases/2.6.0/"/>
		<unit id="org.eclipse.nebula.widgets.gallery.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>ch.qos.reload4j</groupId>
				<artifactId>reload4j</artifactId>
				<version>1.2.21</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">

		<feature id="antlr" version="2.7.7">

</feature>
		<dependencies>
			<dependency>
				<groupId>antlr</groupId>
				<artifactId>antlr</artifactId>
				<version>2.7.7</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
DynamicImport-Package: *
]]></instructions>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>net.sf.ehcache</groupId>
				<artifactId>ehcache</artifactId>
				<version>2.10.4</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">

		<feature id="org.jgrapht" version="1.2.0">

</feature>
		<dependencies>
			<dependency>
				<groupId>org.jgrapht</groupId>
				<artifactId>jgrapht-core</artifactId>
				<version>1.2.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">

		<feature id="com.opencsv" version="4.1">

</feature>
		<dependencies>
			<dependency>
				<groupId>com.opencsv</groupId>
				<artifactId>opencsv</artifactId>
				<version>4.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">

		<feature id="jaxb" version="2.3.3">

</feature>
		<dependencies>
			<dependency>
				<groupId>com.sun.xml.bind</groupId>
				<artifactId>jaxb-osgi</artifactId>
				<version>2.3.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>jakarta.activation</groupId>
				<artifactId>jakarta.activation-api</artifactId>
				<version>1.2.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>javax.xml.ws</groupId>
				<artifactId>jaxws-api</artifactId>
				<version>2.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
</target>