<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target-platform-e4" sequenceNumber="37">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180305-1409"/>
<unit id="org.eclipse.sdk.ide" version="4.8.0.I20180308-0630"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.8milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="antlr.feature.group" version="2.7.7"/>
<unit id="antlr.source.feature.group" version="2.7.7"/>
<unit id="inetlib.feature.group" version="1.1.1"/>
<unit id="inetlib.source.feature.group" version="1.1.1"/>
<unit id="jgrapht.feature.group" version="0.8.1"/>
<unit id="jgrapht.source.feature.group" version="0.8.1"/>
<unit id="net.sf.ehcache.feature.group" version="2.10.4"/>
<unit id="net.sf.ehcache.source.feature.group" version="2.10.4"/>
<unit id="org.hibernate.feature.group" version="3.6.11"/>
<unit id="org.hibernate.source.feature.group" version="3.6.11"/>
<unit id="org.jdom.feature.group" version="2.0.2"/>
<unit id="org.jdom.source.feature.group" version="2.0.2"/>
<repository location="file:/home/simon/Desktop/updatesite/bla/15/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.junit.source" version="4.12.0.v201504281640"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository"/>
</location>
<location path="/home/simon/git/verinice-master/verinice/target-platform/e4-target" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.birt.chart.cshelp.feature.group" version="4.7.0.v201706222054"/>
<unit id="org.eclipse.birt.cshelp.feature.group" version="4.7.0.v201706222054"/>
<unit id="org.eclipse.birt.doc.feature.group" version="4.7.0.v201706222054"/>
<unit id="org.eclipse.birt.feature.group" version="4.7.0.v201706222054"/>
<unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="4.7.0.v201706222054"/>
<unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.14.100.201802212225"/>
<unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.14.100.201801242337"/>
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.14.100.201802061819"/>
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.14.100.201801242337"/>
<unit id="org.eclipse.datatools.sqldevtools.feature.feature.group" version="1.14.100.201802061753"/>
<repository location="http://download.eclipse.org/releases/photon"/>
</location>
</locations>
</target>
