<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target-platform-original" sequenceNumber="0">
<locations>
<location path="/home/simon/git/verinice-master/verinice/target-platform/verinice-tp-eclipse-3.7/plugins" type="Directory"/>
</locations>
</target>
