<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target-platform-p2" sequenceNumber="16">
<locations>
<location path="/home/simon/git/verinice-master/verinice/target-platform/stripped-target" type="Directory"/>
</locations>
</target>
