## Don't add white space
<b>Application</b>: ${GSM_ISM_CONTROL_GROUP_TITLE}
<b>Risk value:</b> ${GSM_ISM_RISK_VALUE}<br/>
<b>Description:</b>
${GSM_ISM_CONTROL_DESCRIPTION}<br/>
<b>Assets:</b>
#foreach( $element in $GSM_ISM_ASSET_DESCRIPTION_LIST )
$element
#end