<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
   

    <bean id="commandService"
          class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl">
            <value>
                http://localhost:2010/veriniceserver/service/commandServiceHttpInvoker
            </value>
        </property>
        <property name="serviceInterface">
            <value>sernet.gs.ui.rcp.main.service.ICommandService</value>
        </property>
    </bean>
</beans>