<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target>

   <environment>
      <os>linux</os>
      <ws>gtk</ws>
      <arch>x86</arch>
      <nl>de_DE</nl>
   </environment>

   <location path="/work/home/akoderman/java/2008-09/eclipse-3.4.1-rcp-sdk/eclipse"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
   </content>

</target>
