/* Logo customizing */
.login-panel .ui-g-12.logo-container img {
	width: 90px;
}

.layout-wrapper .topbar .logo {
	display: inline-block;
	vertical-align: middle;
	width: 175px;
	height: 49px;
	background:
		url("#{resource['verinice-layout:images/logo_verinice_rgb.png']}") top
		left no-repeat;
	background-size: 175px 49px;
}

.layout-wrapper.menu-layout-static.layout-menu-static-inactive .topbar .topbar-left .logo
	{
	background:
		url("#{resource['verinice-layout:images/logo_verinice_rgb.png']}") top
		left no-repeat;
	background-size: 175px 49px;
}

.layout-wrapper .topbar .topbar-left, .layout-wrapper.menu-layout-static.layout-menu-static-inactive .topbar .topbar-left
	{
	background-color: #fff;
}

@media ( max-width : 1024px) {
  .layout-wrapper.menu-layout-static .topbar .topbar-left .logo {
    background-image: url("#{resource['verinice-layout:images/logo_verinice_rgb.png']}");
  }
  .layout-wrapper.menu-layout-static .topbar .topbar-left {
    background-color: white;
  }
}