<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Eclipse">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Eclipse">
         </property>
         <property
               name="aboutText"
               value="Eclipse for RCP/Plug-in Developers&#x0A;&#x0A;Build id: {0}&#x0A;&#x0A;(c) Copyright Eclipse contributors and others 2000, 2009.  All rights reserved.&#x0A;Visit http://eclipse.org/&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://apache.org/">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="windowImages"
               value="eclipse.png,eclipse32.png,eclipse48.png">
         </property>
         <property
              name="introBrandingImage"
              value="product:intro-eclipse.png"/>
         <property
               name="introTitle"
               value="Welcome to Eclipse for RCP/Plug-in Developers">
         </property>
         <property
               name="introBrandingImageText"
               value="Eclipse Project">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.epp.package.rcp.product">
      </introProductBinding>
   </extension>

</plugin>
